html{
   background-color: #aad4cf;
}

body{
    position: relative;
    margin-left: 300px;
    margin-right: 195px;
    background-color: #cceae7;
}

.heading{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 180px;
    position: relative;
    font-size: 26px;
}

.starfish{
    width: 190px;
    padding-right: 10PX;
    float: left;
}
.h3{
    padding: 30px;
}

nav ul li{
    display: inline-block;
    width: 250px;
    margin-left: 5px;
    font-size: 27px;
    border-right: 1px solid black;
}
nav ul a{
    color: black;
    display: block;
    position: relative;
    text-decoration: none;
    margin-left: 80px;
    
}
.list{
    padding:30px;
}
.main{
    padding: 30px;
}
.info{
    padding: 30px;
}
.info{
    height:300px;
    border: 2px solid black;
    margin: 20px;
}
#fullname,#youremail{
    width: 930px;
}
#message{
    width: 930px;
    height: 100px;
}

#foot{
    margin-left: 88%;
}